.Banner {
  height: 120vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../content/banner/banner.jpg");
  background-size: cover;
  background-position: center;
}
.BannerContent {
  position: absolute;
  top: 30%;
  left: 5%;
}
.BannerContent h1 {
  color: var(--color-text-main);
  font-size: 6rem;
  margin: 0;
  font-family: "Dancing Script";
  font-weight: 800;
}
.BannerContent p {
  font-family: "Roboto";
  color: var(--color-text-primary);
  font-size: 1.75rem;
  margin: 20px 0 40px 0px;
  line-height: 3rem;
  max-width: 50%;
}
.BannerContent button {
  background-color: var(--color-bg-dark);
  padding: 20px 40px;
  font-size: 2rem;
  outline: none;
  border: none;
  border-radius: 10px;
  font-family: "Roboto";
  letter-spacing: 0.075rem;
  word-spacing: 0.25rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .BannerContent h1 {
    font-size: 4rem;
  }
  .BannerContent button {
    font-size: 1.75rem;
    padding: 15px 30px;
  }
}

@media only screen and (max-width: 900px) {
  .Banner {
    height: 100vh;
  }
  .BannerContent h1 {
    font-size: 4rem;
  }
  .BannerContent p {
    margin: 40px 0px;
    font-size: 1.25rem;
    line-height: 1.5rem;
    max-width: 60%;
  }
  .BannerContent button {
    font-size: 1.25rem;
    word-spacing: unset;
    padding: 8px 20px;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .BannerContent h1 {
    font-size: 3rem;
  }
  .BannerContent p {
    margin: 20px 0px;
    max-width: 70%;
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

/* about section */

.About {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../content/about/about.jpg");
  background-size: cover;
}
.AboutContent {
  padding: 150px 100px;
}
.AboutContent h1 {
  color: var(--color-text-main);
  font-size: 6rem;
  font-family: "Dancing Script";
  font-weight: 800;
}
.AboutContent p {
  margin-left: 40%;
  width: 60%;
  font-family: "Roboto";
  color: var(--color-text-primary);
  font-size: 1.75rem;
  line-height: 3rem;
}

@media only screen and (max-width: 1200px) {
  .AboutContent h1 {
    font-size: 4rem;
  }
  .AboutContent p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

@media only screen and (max-width: 900px) {
  .About {
    height: 100vh;
  }
  .AboutContent {
    padding: 20% 40px;
  }
  .AboutContent h1 {
    font-size: 5rem;
  }
  .AboutContent p {
    margin-left: 30%;
    margin-top: 10%;
    width: 70%;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .AboutContent {
    padding: 40% 10px;
  }
  .AboutContent h1 {
    font-size: 4rem;
  }
  .AboutContent p {
    margin-top: 10%;
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

/* MENU SECTION */

.Menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.MenuTitle > h1 {
  font-family: "Dancing Script";
  font-size: 6rem;
  text-align: center;
  margin: 60px auto;
}

.MenuTitle {
  position: relative;
  width: 100%;
}

.plate_img {
  --width: 800px;
  width: var(--width);
  left: calc(var(--width) / -2);
  top: calc(var(--width) / -2);
  position: absolute;
  z-index: -1;
  filter: drop-shadow(0 0 70px var(--color-icon));
  -webkit-animation: spin 15s linear infinite;
  -moz-animation: spin 15s linear infinite;
  animation: spin 15s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.MenuTabs {
  display: flex;
  flex-direction: column;
}

.MenuTabList {
  display: flex;
  align-self: center;
  margin-bottom: 60px;
}

.MenuTab {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  padding: 20px 0 40px 0;
  color: var(--color-icon);
  border-radius: 8px;
  transition: ease 0.5s;
}

.MenuTab:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 10px var(--color-icon);
}

.SelectedMenuTab {
  box-shadow: 0 0 5px var(--color-icon);
  background-color: rgba(255, 255, 255, 0.4);
}

.MenuTab p {
  font-size: 2rem;
  font-family: "Roboto";
}

.MenuTab:nth-of-type(2) {
  margin-left: 20px;
  margin-right: 20px;
}

.MenuTabPanel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1200px;
}

.MenuTabPanel > div {
  position: relative;
  padding-right: 20px;
}

.MenuImage {
  margin-bottom: 45px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  width: 340px;
}

.MenuImage::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 5;
}

.MenuImage:hover {
  cursor: pointer;
}

.MenuTabPanelImgContent p {
  font-family: "Roboto";
  text-transform: capitalize;
  font-size: 2rem;
  transform: translate(-50%, 50%);
  color: var(--color-text-primary);
  cursor: pointer;
  font-weight: 800;
}

.MenuTabPanelImgContent p:nth-of-type(1) {
  position: absolute;
  left: 50%;
  top: 15px;
  z-index: 10;
  width: 100%;
  text-align: center;
}

.MenuTabPanelImgContent p:nth-of-type(2) {
  position: absolute;
  left: 50%;
  bottom: 60px;
  z-index: 10;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .MenuTitle > h1 {
    font-size: 4rem;
  }
  .plate_img {
    --width: 900px;
  }
  .MenuTab {
    width: 150px;
    padding: 18px 0 30px 0;
  }

  .MenuTab p {
    font-size: 1.75rem;
  }

  .MenuTabPanel {
    max-width: 950px;
  }

  .MenuImage {
    margin-bottom: 25px;
    height: 280px;
    width: 280px;
  }

  .MenuTabPanelImgContent p {
    font-size: 1.75rem;
  }

  .MenuTabPanelImgContent p:nth-of-type(1) {
    top: 10px;
  }

  .MenuTabPanelImgContent p:nth-of-type(2) {
    bottom: 30px;
  }
}

@media only screen and (max-width: 900px) {
  .plate_img {
    --width: 950px;
  }
  .MenuTitle > h1 {
    font-size: 3rem;
    margin: 40px auto;
  }

  .MenuTabList {
    margin-bottom: 40px;
  }

  .MenuTab {
    width: 120px;
    padding: 8px 0 16px 0;
  }

  .MenuTab p {
    font-size: 1.5rem;
  }

  .MenuTab:nth-of-type(2) {
    margin-left: 8px;
    margin-right: 8px;
  }

  .MenuTabPanel {
    max-width: 700px;
  }

  .MenuImage {
    height: 180px;
    width: 180px;
  }

  .MenuTabPanelImgContent p {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

@media only screen and (max-width: 600px) {
  .MenuTitle > h1 {
    font-size: 2rem;
    margin: 20px auto;
  }

  .plate_img {
    --width: 600px;
  }

  .MenuTabList {
    margin-bottom: 20px;
  }

  .MenuTab {
    width: 100px;
  }

  .MenuTab p {
    font-size: 1.25rem;
  }

  .MenuTabPanel {
    max-width: 480px;
  }

  .MenuImage {
    margin-bottom: 15px;
    height: 140px;
    width: 140px;
  }

  .MenuTabPanelImgContent p {
    font-size: 1.25rem;
  }
  .MenuTabPanelImgContent p:nth-of-type(1) {
    top: 5px;
  }

  .MenuTabPanelImgContent p:nth-of-type(2) {
    bottom: 15px;
  }
}

@media only screen and (max-width: 450px) {
  .plate_img {
    --width: 330px;
  }

  .MenuImage {
    margin-bottom: 25px;
    height: 170px;
    width: 170px;
  }

  .MenuTabPanelImgContent p:nth-of-type(1) {
    top: 10px;
  }

  .MenuTabPanelImgContent p:nth-of-type(2) {
    bottom: 30px;
  }
}

/* RESERVATION SECTION */

.ReservationSection {
  background-color: yellow;
  overflow-x: hidden;
  padding: 120px 0;
}

.Reservation {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
  max-width: 1000px;
  margin: auto;
  background-color: white;
  box-shadow: 0 0 70px var(--color-icon);
  border-radius: 4px;
}

.Reservation h1 {
  position: relative;
  font-size: 4rem;
  font-family: "Dancing Script";
  margin-bottom: 40px;
  color: var(--color-icon);
}

.Reservation h1::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 120px;
  left: -150px;
  top: 50%;
  background-color: var(--color-icon);
}

.Reservation h1::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 120px;
  right: -150px;
  top: 50%;
  background-color: var(--color-icon);
}

.TomatoImg {
  position: absolute;
  left: -100px;
  top: 100px;
  z-index: 15;
  width: 200px;
  filter: drop-shadow(0 0 70px var(--color-icon));
}

.LemonImg {
  position: absolute;
  right: -75px;
  bottom: 50px;
  z-index: 15;
  width: 150px;
  border-radius: 50%;
  filter: drop-shadow(0 0 70px var(--color-icon));
}

.FormContainer {
  position: relative;
}

.Form {
  position: absolute;
  left: 180px;
  top: 130px;
  display: flex;
  flex-direction: column;
  width: 240px;
  margin: auto;
}

.Form input {
  padding: 10px;
  font-family: "Roboto";
  margin-bottom: 40px;
  outline: none;
  border: 2px solid var(--color-icon);
  border-radius: 8px;
  font-size: 1.5rem;
  color: var(--color-icon);
  cursor: pointer;
}

.InputGroupIcon {
  width: 30px;
  position: absolute;
  right: 15px;
  top: 210px;
}

.InputPhoneIcon {
  width: 30px;
  position: absolute;
  right: 15px;
  top: 307px;
}

.ReservationSubmit {
  cursor: pointer;
  width: 40px;
  position: absolute;
  left: 275px;
  top: 535px;
  filter: drop-shadow(1px 3px 1px var(--color-icon));
  transition: 0.3s ease filter;
}

.SmartPhoneImg {
  z-index: -1;
  height: 600px;
}

@media only screen and (max-width: 1200px) {
  .ReservationSection {
    padding: 80px 0;
  }

  .Reservation {
    padding: 60px 0;
    max-width: 800px;
  }

  .Reservation h1 {
    font-size: 3rem;
  }

  .Reservation h1::before {
    width: 80px;
    left: -100px;
  }

  .Reservation h1::after {
    width: 80px;
    right: -100px;
  }

  .TomatoImg {
    left: -80px;
    top: 80px;
    width: 150px;
  }

  .LemonImg {
    right: -60px;
    bottom: 30px;
    width: 120px;
  }
}

@media only screen and (max-width: 900px) {
  .ReservationSection {
    padding: 60px 0;
  }

  .Reservation {
    width: 80%;
  }

  .Reservation h1 {
    font-size: 1.75rem;
  }

  .Reservation h1::before {
    width: 60px;
    left: -80px;
  }

  .Reservation h1::after {
    width: 60px;
    right: -80px;
  }

  .TomatoImg {
    left: -60px;
    top: 60px;
    width: 120px;
  }

  .LemonImg {
    right: -40px;
    bottom: 20px;
    width: 80px;
  }

  .Form {
    left: 135px;
    top: 100px;
    width: 180px;
  }

  .Form input {
    padding: 8px;
    margin-bottom: 20px;
    border: 2px solid var(--color-icon);
    font-size: 1rem;
  }

  .InputGroupIcon {
    width: 20px;
    top: 148px;
  }

  .InputPhoneIcon {
    width: 20px;
    top: 215px;
  }

  .ReservationSubmit {
    width: 32px;
    left: 205px;
    top: 399px;
  }

  .SmartPhoneImg {
    height: 450px;
  }
}

@media only screen and (max-width: 600px) {
  .Reservation {
    width: 80%;
    padding: 40px 0px 20px 0px;
  }

  .Reservation h1 {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .Reservation h1::before {
    height: 1.5px;
    width: 40px;
    left: -50px;
  }

  .Reservation h1::after {
    height: 1.5px;
    width: 40px;
    right: -50px;
  }

  .TomatoImg {
    left: -40px;
    top: 40px;
    width: 80px;
  }

  .LemonImg {
    right: -30px;
    bottom: 20px;
    width: 60px;
  }

  .Form {
    left: 81px;
    top: 65px;
    width: 120px;
  }

  .Form input {
    padding: 2px 4px;
    margin-bottom: 5px;
    border: 1px solid var(--color-icon);
    font-size: 0.8rem;
    border-radius: 4px;
  }

  .InputPhoneIcon {
    width: 12px;
    top: 115px;
    right: 8px;
  }

  .InputGroupIcon {
    width: 12px;
    top: 80px;
    right: 8px;
  }

  .ReservationSubmit {
    width: 22px;
    left: 127px;
    top: 247px;
  }

  .SmartPhoneImg {
    height: 280px;
  }
}
/* Gallery section */

.Gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 0px;
  background-color: var(--color-icon);
}

.Gallery h1 {
  color: var(--color-text-primary);
  font-size: 4rem;
  font-family: "Dancing Script";
  margin-bottom: 60px;
}

.Images {
  position: relative;
}

.Image {
  max-width: 1200px;
  width: 80vw;
  height: 80vh;
  border-radius: 10px;
}

.RightArrow {
  width: 80px;
  opacity: 0.8;
  position: absolute;
  top: 45%;
  right: 0;
  z-index: 10;
  cursor: pointer;
}

.LeftArrow {
  width: 80px;
  transform: rotate(180deg);
  opacity: 0.8;
  position: absolute;
  top: 45%;
  left: 0;
  z-index: 10;
  cursor: pointer;
}

.Slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.Slide.Active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

@media only screen and (max-width: 1200px) {
  .Gallery {
    padding: 80px 0px;
  }

  .Gallery h1 {
    font-size: 3rem;
    margin-bottom: 40px;
  }

  .Image {
    width: 80vw;
    height: 80vh;
    border-radius: 10px;
  }

  .LeftArrow {
    width: 60px;
  }

  .RightArrow {
    width: 60px;
  }
}

@media only screen and (max-width: 900px) {
  .Gallery {
    padding: 60px 0px;
  }

  .Gallery h1 {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  .Image {
    width: 80vw;
    height: 60vh;
    border-radius: 10px;
  }

  .LeftArrow {
    width: 30px;
  }

  .RightArrow {
    width: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .Gallery {
    padding: 60px 0px;
  }

  .Gallery h1 {
    font-size: 1.5rem;
    margin-bottom: 40px;
  }

  .Image {
    width: 90vw;
    height: 50vh;
    border-radius: 10px;
  }
}

/* Contact and Map section */

.ContactSection {
  background-color: white;
}

.Contact {
  display: flex;
  max-width: 1400px;
  margin: auto;
  align-items: center;
  height: 100vh;
}

.Map {
  width: 50%;
}

.ContactContent {
  padding: 0px 60px;
}

.ContactContent h1 {
  font-size: 4rem;
  margin-bottom: 60px;
  font-family: "Dancing Script";
  text-align: center;
  color: var(--color-icon);
  position: relative;
}

.ContactContent h1::before {
  content: "";
  position: absolute;
  left: 3%;
  top: 50%;
  height: 2px;
  width: 18%;
  background-color: var(--color-icon);
}
.ContactContent h1::after {
  content: "";
  position: absolute;
  right: 3%;
  top: 50%;
  height: 2px;
  width: 18%;
  background-color: var(--color-icon);
}

.ContactIcon div {
  display: flex;
  align-items: center;
  margin: 15px 0px;
}

.ContactIcon div p {
  margin: 0;
  font-size: 1.75rem;
  line-height: 2rem;
  font-family: "Roboto";
  color: var(--color-icon);
}

@media only screen and (max-width: 1200px) {
  .Contact {
    max-width: 950px;
    height: fit-content;
  }

  .ContactContent {
    padding: 0px 40px;
  }

  .ContactContent h1 {
    font-size: 3rem;
    margin-bottom: 0px;
  }

  .ContactIcon div {
    margin: 10px 0px;
  }

  .ContactIcon div p {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 900px) {
  .Contact {
    max-width: 600px;
  }

  .ContactContent {
    padding: 0px 30px;
  }

  .ContactContent h1 {
    font-size: 2rem;
  }

  .ContactIcon div {
    margin: 10px 0px;
  }

  .ContactIcon div p {
    font-size: 1rem;
    line-height: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .Contact {
    flex-direction: column;
    width: 100%;
  }

  .Map {
    order: 2;
    width: 100%;
  }

  .ContactContent {
    height: 340px;
    width: 100%;
    padding-top: 60px;
  }

  .ContactContent h1 {
    position: relative;
  }

  .ContactContent h1::before {
    content: "";
    position: absolute;
    left: 5%;
    top: 18px;
    height: 2px;
    width: 20%;
    background-color: var(--color-icon);
  }
  .ContactContent h1::after {
    content: "";
    position: absolute;
    right: 5%;
    top: 18px;
    height: 2px;
    width: 20%;
    background-color: var(--color-icon);
  }
}
