.Banner {
  height: 120vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../content/banner/banner.jpg");
  background-size: cover;
}
.BannerContent {
  position: absolute;
  top: 30%;
  left: 5%;
}
.BannerContent h1 {
  color: var(--color-text-main);
  font-size: 6rem;
  margin: 0;
  font-family: "Dancing Script";
  font-weight: 800;
}
.BannerContent p {
  font-family: "Roboto";
  color: var(--color-text-primary);
  font-size: 1.75rem;
  margin: 20px 0 40px 0px;
  line-height: 3rem;
  max-width: 50%;
}
.BannerContent button {
  background-color: var(--color-bg-dark);
  color: var(--color-text-primary);
  font-weight: 600;
  padding: 20px 40px;
  font-size: 2rem;
  outline: none;
  border: none;
  border-radius: 10px;
  font-family: "Roboto";
  letter-spacing: 0.075rem;
  word-spacing: 0.25rem;
}

@media only screen and (max-width: 1200px) {
  .BannerContent h1 {
    font-size: 4rem;
  }
  .BannerContent p {
    font-size: 2rem;
  }
  .BannerContent button {
    font-size: 1.75rem;
    font-weight: 600;
    padding: 15px 30px;
  }
}

@media only screen and (max-width: 900px) {
  .Banner {
    height: 100vh;
  }
  .BannerContent h1 {
    font-size: 4rem;
  }
  .BannerContent p {
    margin: 40px 0px;
    font-size: 1.25rem;
    line-height: 1.5rem;
    max-width: 60%;
  }
  .BannerContent button {
    font-size: 1.25rem;
    font-weight: 400;
    word-spacing: unset;
    padding: 5px 10px;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .BannerContent h1 {
    font-size: 3rem;
  }
  .BannerContent p {
    margin: 20px 0px;
    max-width: 70%;
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

/* about section */

.About {
  /* height: 120vh; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../content/about/about.jpg");
  background-size: cover;
}
.AboutContent {
  padding: 150px 100px;
}
.AboutContent h1 {
  color: var(--color-text-main);
  font-size: 6rem;
  font-family: "Dancing Script";
  font-weight: 800;
}
.AboutContent p {
  margin-left: 40%;
  width: 60%;
  font-family: "Roboto";
  color: var(--color-text-primary);
  font-size: 1.75rem;
  line-height: 3rem;
}

@media only screen and (max-width: 1200px) {
  .AboutContent h1 {
    font-size: 4rem;
  }
  .AboutContent p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

@media only screen and (max-width: 900px) {
  .AboutContent {
    padding: 80px 40px;
  }
  .AboutContent h1 {
    font-size: 3rem;
  }
  .AboutContent p {
    margin-left: 30%;
    width: 70%;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .AboutContent {
    padding: 50px 20px;
  }
  .AboutContent h1 {
    font-size: 2rem;
  }
  .AboutContent p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

/* MENU SECTION */

.Menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Menu h1 {
  font-family: "Dancing Script";
  font-size: 6rem;
  margin-top: 40px;
}

.MenuIcons {
  display: flex;
}

.MenuIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 210px;
  padding: 15px 0;
  color: var(--color-icon);
  border-radius: 8px;
  transition: ease 1s;
}
.MenuIcon:hover {
  cursor: pointer;
  box-shadow: 0 0 15px var(--color-icon);
}

.MenuIcon svg {
  width: 80px;
}
.MenuIcon p {
  font-size: 3rem;
  font-family: "Dancing Script";
  margin-top: 10px;
}
.MenuIcon:nth-of-type(2) {
  margin: 0 20px;
}

@media only screen and (max-width:600px){
  .Menu h1 {
    font-size: 2rem;
    margin-top: 20px;
  }
  .MenuIcon{
    width: 100px;
  }
  .MenuIcon svg {
    width: 20px;
  }
  .MenuIcon p {
    font-size: 1rem;
  }
}