.Banner {
  height: 120vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/banner.jpg");
  background-size: cover;
}
.BannerContent {
  position: absolute;
  top: 30%;
  left: 5%;
}
.BannerContent h1 {
  color: var(--color-accent);
  font-size: 6rem;
  margin: 0;
  font-family: "Dancing Script";
  font-weight: 800;
}
.BannerContent p {
  font-family: "Roboto";
  color: var(--color-primary);
  font-size: 1.75rem;
  margin: 20px 0 40px 0px;
  line-height: 3rem;
  max-width: 50%;
}
.BannerContent button {
  background-color: var(--color-accent);
  color: var(--color-primary);
  font-weight: 600;
  padding: 20px 40px;
  font-size: 2rem;
  outline: none;
  border: none;
  border-radius: 10px;
  font-family: "Roboto";
  letter-spacing: 0.075rem;
  word-spacing: 0.25rem;
}

@media only screen and (max-width: 1200px) {
  .BannerContent h1 {
    font-size: 4rem;
  }
  .BannerContent p {
    font-size: 2rem;
  }
  .BannerContent button {
    font-size: 1.75rem;
    font-weight: 600;
    padding: 15px 30px;
  }
}

@media only screen and (max-width: 900px) {
  .Banner {
    height: 450px;
  }
  .BannerContent {
    top: 110px;
  }
  .BannerContent h1 {
    font-size: 3rem;
  }
  .BannerContent p {
    margin: 20px 0px;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .BannerContent button {
    font-size: 1.25rem;
    font-weight: 400;
    word-spacing: unset;
    padding: 5px 10px;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .Banner {
    height: 350px;
  }

  .BannerContent h1 {
    font-size: 2rem;
  }
  .BannerContent p {
    font-size: 0.875rem;
    line-height: 1rem;
  }
  .BannerContent button {
    font-size: 1rem;
  }
}
