.Header {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.2);
}

.navbar {
  font-size: 18px;
  height: 60px;
  display: flex;
  align-items: center;
}

.mainNav {
  display: none;
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  list-style-type: none;
  color: var(--color-text-primary);
  margin: 0;
  padding-top: 25px;
}

.logo {
  text-decoration: none;
  color: var(--color-text-main);
  font-family: "Dancing Script";
  font-weight: 800;
  font-size: 1.25rem;
  display: inline-block;
  font-size: 22px;
  margin-left: 20px;
}

.navLinks {
  text-decoration: none;
  color: var(--color-text-primary);
  font-family: "Roboto";
  font-size: 1.25rem;
}

.mainNav li {
  text-align: center;
  margin-bottom: 20px;
}

.navbarToggle {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.navbarToggle div {
  display: flex;
  flex-direction: column;
}

.navbarToggle div span {
  width: 36px;
  height: 4px;
  border-radius: 2px;
  background-color: white;
}

.navbarToggle div span:nth-of-type(2) {
  margin: 6px 0;
}

.chkToggle {
  display: none;
}

.chkToggle:checked + .mainNav {
  display: block;
}

@media only screen and (min-width: 900px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .chkToggle:checked + .mainNav {
    display: flex;
  }

  .mainNav {
    all: unset;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-right: 30px;
  }

  .mainNav li {
    height: fit-content;
    margin-bottom: 0;
  }

  .navLinks {
    height: 100%;
    display: grid;
    place-items: center;
    margin: auto 20px;
  }

  .logo {
    margin-top: 0;
  }

  .navbarToggle {
    display: none;
  }

  .navLinks:hover {
    transition: 0.3s;
    color: var(--color-text-main);
  }
}
